@use "../global/colors";
@use "../global/core";
@use "../global/components";

#root {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/mountains.jpg");
}

.content-outlet {
  min-height: 85vh;
}

.nav-bar {
  background-color: colors.$tertiary-color;
  color: colors.$font-color-primary;
  height: 15vh;
}
